* {
 margin: 0;
 padding: 0;
 /* o conteudo interno não altera o tamanho do elemento container */
 box-sizing: border-box;
}

.menu-container {
 background-color: #5995da;
 padding: 20px 0;
 display: flex;
 justify-content: center;
}

.menu {
 border: 1px red solid;
 color: white;
 width: 900px;
}

.menu a {
 text-decoration: none;
 color: white;
}
