html {
 box-sizing: border-box;
}

*,
*:before,
*:after {
 box-sizing: inherit;
 margin: 0;
 padding: 0;
}

body {
 padding: 8px 2%;
 font-size: 18px;
 background-color: beige;
}

header p {
 font-size: 1.5rem;
 text-align: center;
}

header nav ul {
 padding: 0;
}

header nav ul li {
}

@media screen and (min-width: 550px) and (max-width: 900px) {
 body {
  background-color: blue;
 }
}

@media screen and (min-width: 901px) {
 body {
  background-color: red;
 }
}
