* {
  box-sizing: border-box;
  /* font-family: Epilogue, sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}

.container-title {
  width: 30%;
}

.search-title {
  width: 50%;
}

.search-title .search-input, .search-title .search-btn {
  font-size: 18px;
  padding: 0 10px;
}

.search-title .search-btn {
  background-color: white;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 2%;
}

.search-title .search-btn:hover {
  background-color: rgb(10, 118, 79);
  color: white;
}


.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 22px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

.item:hover {
  box-shadow: 0px 5px 5px 5px  rgba(4, 0, 253, 0.4);
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}

.item .item__add:hover {
  background-color: rgb(53, 97, 255);
  box-shadow: 0px 5px 10px rgba(53, 97, 255, 0.4);
  /* color: #fff; */
  transform: translateY(-2px);
 }
 
 .item .item__add:active {
  transform: translateY(-1px);
 }

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(231, 231, 228);
  border-left: 4px solid rgb(10, 118, 79);
  height: 100vh;
}

.cart .cart__items {
  /* height: 500px; */
  min-height: 500px;
  max-height: 60%;
  overflow-y: scroll;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.cart .cart__items .cart__item{
  margin-bottom: 10px;
  padding: 0.5em;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  display: block;
  display: flex;
  align-items: center;
}

.cart .cart__items .cart__item:hover{
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.cart .item__image{
  width: 75px;
  border-radius: 10%;
  margin: 10px;
}

.cart .cart__btn {
  /* background-color: red; */
  width: 40px;
  padding: 0 3px;
  border-radius: 50%;
  cursor: pointer;
}

.cart .cart__total{
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 900;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
}

.empty-cart:hover {
  border: 4px solid rgba(73, 2, 0, 0.4);
  background-color: rgb(255, 53, 53);
  box-shadow: 0px 5px 10px rgba(109, 4, 0, 0.4);
  /* color: #fff; */
  transform: translateY(-2px);
 }
