body {
 font-family: serif;
 margin: auto;
 width: 600px;
 padding: 50px;
 text-align: center;
 /* background-image properties: https://www.w3schools.com/cssref/pr_background-image.asp */
 background-image: url('/images/rsz_david-pisnoy-46jud4zy1xa-unsplash.jpg');
 background-position: center;
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}

#title {
 text-transform: capitalize;
 color: white;
 font-weight: 600;
 font-size: 45px;
 /* 3 shadowns effect: https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ */
 text-shadow: 0px 4px 3px black, 0px 8px 13px black, 0px 18px 23px black;
}

#espaco-jogo {
 border: 4px solid whitesmoke;
 border-radius: 15px;
 padding: 15px;
 background: rgba(195, 223, 196, 0.3);
 /* background-color: antiquewhite; */
 /* opacity: 0.5; */
}

.ball {
 display: inline-block;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 1px solid black;
 margin: 0 3px;
}
